`/* Set the background color */
body {
    background-color: #CFD1d1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Center the header content */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make header take up full viewport height */
    text-align: center;
}

/* Style the header text */
header h1 {
    font-size: 3em;
    color: #225135; /* Set the text color to brunswick green */
}

/* Style the image */
header img {
    max-width: 700px; 
}

/* Center the main section content */
main {
    display: flex;
    justify-content: center;
}

/* Style the text section */
section {
    max-width: 800px;
    text-align: center;
    line-height: 1.6;
}

/* Style the footer */
footer {
    text-align: right;
    margin: 20px 0;
}

/* Style the footer link */
footer a {
    text-decoration: none;
    color: #225135;
    font-weight: bold;
}