body {
    background-color: #CFD1d1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Centered content container */
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px; /* Adjust margin as needed */
}

/* Flex container for text and image */
.text-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text on the left side */
.text-left, .text-right {
    font-size: 2em;
    color: #225135;
}

/* Centered image */
.center-image {
    margin: 0 20px; /* Adjust spacing between text and image as needed */
    width: 200px; /* Adjust image size as needed */
}

/* Introductory text */
.intro-text {
    margin-top: 20px; /* Adjust spacing between image and text */
}